# Backend
backend/venv/
backend/.env
backend/db.sqlite3
backend/**/__pycache__/
backend/**/*.pyc

# Frontend
frontend/node_modules/

# IDE-specific files (optional)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
